$c-black: hsl(0, 0%, 7%);
$c-darker-gray: hsl(0, 0%, 7%);
$c-dark-gray: hsl(0, 0%, 33%);
$c-light-gray: hsl(0, 0%, 93%);
$c-gray: hsl(0, 0%, 60%);
$c-white: hsl(0, 0%, 100%);
$c-pink: hsl(333, 77%, 62%);
$c-orange: hsl(24, 82%, 60%);
