* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

p {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header {
  color: hsl(0, 0%, 7%);
}
header .header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header nav ul {
  display: none;
  gap: 25px;
}
header .header nav .burger-menu {
  transform: rotateZ(90deg);
}
header .header nav .burger-menu span {
  border-radius: 5px;
  background-color: hsl(0, 0%, 60%);
  width: 55px;
  height: 100px;
  padding: 2px;
  margin: 2px;
}

footer {
  color: hsl(0, 0%, 33%);
}
footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer .footer-nav {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}
footer .footer .footer-nav h4 {
  text-transform: uppercase;
}
footer .footer .footer-props {
  flex-basis: 45%;
}
footer .footer .footer-props__social-links ul {
  display: flex;
  gap: 10px;
}

.ctn {
  margin: 0 auto;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.hero {
  position: relative;
}
section.hero .hero-content {
  z-index: 10;
  max-width: 70%;
}
section.hero img {
  position: absolute;
  right: -140px;
  top: -40px;
  z-index: 0;
  height: 100%;
}
section.press {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
section.press img {
  max-width: 100%;
}
section.footer-upsell {
  display: flex;
  align-items: center;
}

.upsell {
  position: relative;
  min-height: 350px;
}

.upsell-background {
  position: absolute;
  left: -50%;
}

.upsell-content {
  position: absolute;
  top: 50%;
  left: 5%;
}

.footer-upsell {
  display: flex;
}
.footer-upsell__content {
  flex: 50%;
}
.footer-upsell__img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.showcase {
  min-height: 475px;
  position: relative;
}
section.showcase .showcase-cards {
  position: absolute;
  display: flex;
  gap: 25px;
  overflow-x: auto;
  overflow-y: hidden;
}

.showcase-card {
  width: 290px;
  height: 400px;
}
.showcase-card__info {
  background-color: hsl(0, 0%, 93%);
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}
.showcase-card__info-line {
  display: flex;
  justify-content: space-between;
}
.showcase-card img {
  width: 100%;
  vertical-align: top;
}

.section-picture {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 1px solid hsl(0, 0%, 93%);
}

@media screen and (max-width: 576px) {
  .ctn {
    width: 85vw;
  }
}
@media screen and (max-width: 768px) {
  .ctn {
    width: 85vw;
  }
}
@media screen and (min-width: 992px) {
  .ctn {
    width: 80vw;
    max-width: 1600px;
  }
}
@media screen and (max-width: 992px) {
  .ctn {
    width: 85vw;
  }
}
@media screen and (min-width: 1200px) {
  .ctn {
    width: 80vw;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1400px) {
  .ctn {
    width: 80vw;
    max-width: 1600px;
  }
}
@media screen and (min-width: 576px) {
  section.press {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  header .header nav ul {
    display: flex;
  }
  header .header nav .burger-menu {
    display: none;
  }
  .upsell-background {
    left: -25%;
  }
  .showcase-card {
    min-width: 325px;
  }
  footer .footer {
    flex-direction: row;
  }
  footer .footer .footer-nav {
    display: flex;
  }
  footer .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: baseline;
  }
  footer .footer-bottom .small-hidden {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  section.press {
    display: flex;
    justify-content: space-between;
  }
  .upsell-background {
    left: -15%;
  }
  .showcase-card {
    min-width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .press img {
    display: flex;
  }
  .upsell-background {
    position: static;
    width: 100%;
    min-height: 350px;
  }
  .showcase-card {
    min-width: 250px;
  }
}
.small-hidden {
  display: none;
}

.btn-1 {
  margin: 25px 0;
  display: inline-block;
  padding: 3px;
  border-radius: 29px;
  background: linear-gradient(65deg, hsl(349, 76%, 68%) 0%, hsl(24, 82%, 61%) 65%, hsl(24, 81%, 60%) 89%, hsl(67, 72%, 73%) 100%);
  cursor: pointer;
}
.btn-1__text {
  padding: 0.75rem 2rem;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.05rem;
  border-radius: 26px;
  transition: 263ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
.btn-1__text:hover {
  background-color: transparent;
}

.t-pink {
  color: hsl(333, 77%, 62%);
}

.t-uc {
  text-transform: uppercase;
}

.t-w-700 {
  font-weight: 700;
}

.text-5r {
  font-size: 5rem;
}

.text-3r {
  font-size: 3rem;
}

.t-weight-900 {
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
