* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.btn-1 {
  margin: 2rem 0;
  display: inline-block;
  padding: 3px;
  border-radius: 53px;
  background: linear-gradient(65deg, hsl(349, 76%, 68%) 0%, hsl(24, 82%, 61%) 65%, hsl(24, 81%, 60%) 89%, hsl(67, 72%, 73%) 100%);
  cursor: pointer;
}
.btn-1__text {
  padding: 0.85rem 2rem;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  border-radius: 50px;
  transition: 263ms ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}
.btn-1__text:hover {
  background-color: transparent;
}

.t-pink {
  color: hsl(333, 77%, 62%);
}

.t-orange {
  color: hsl(24, 82%, 60%);
}

.t-black {
  color: hsl(0, 0%, 7%);
}

.t-w-500 {
  font-weight: 500;
}

.t-w-700 {
  font-weight: 700;
}

.t-weight-900 {
  font-weight: 900;
}

.t-s-75 {
  font-size: 0.75rem;
}

.t-s-112 {
  font-size: 1.125rem;
}

.t-s-125 {
  font-size: 1.25rem;
}

.t-s-500 {
  font-size: 5rem;
}

.t-s-300 {
  font-size: 3rem;
}

.t-uc {
  text-transform: uppercase;
}

.t-ln-225 {
  line-height: 1.75rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-4 {
  margin-top: 4rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-4 {
  margin-bottom: 4rem;
}

header {
  color: hsl(0, 0%, 7%);
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: none;
  gap: 25px;
}
.header nav .burger-menu {
  transform: rotateZ(90deg);
}
.header nav .burger-menu span {
  border-radius: 5px;
  background-color: hsl(0, 0%, 60%);
  width: 55px;
  height: 100px;
  padding: 2px;
  margin: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-nav {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}
.footer .footer-props__social-links ul {
  display: flex;
  gap: 10px;
}

.ctn {
  margin: auto;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.hero .hero-content {
  flex-basis: 60%;
  z-index: 100;
}
.hero img {
  position: absolute;
  left: 50%;
  z-index: 0;
  height: 100%;
}

.press {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: stretch;
}
.press img {
  max-width: 100%;
}

.upsell {
  position: relative;
  height: 340px;
}

.upsell-background {
  overflow-x: hidden;
  position: absolute;
  left: -50%;
}
.upsell-background img {
  min-height: 340px;
  width: 100%;
}

.upsell-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-140%);
}

.footer-upsell {
  display: flex;
}
.footer-upsell__content {
  flex: 50%;
}
.footer-upsell__img {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase {
  min-height: 500px;
  position: relative;
}

.showcase-cards {
  display: flex;
  gap: 25px;
}

.showcase-card {
  min-width: 290px;
}
.showcase-card__info {
  background-color: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 47%);
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}
.showcase-card__info-symbol {
  position: relative;
}
.showcase-card__info-symbol::before {
  position: absolute;
  content: url("assets/eth.svg");
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.showcase-card__info-line {
  display: flex;
  justify-content: space-between;
}
.showcase-card img {
  width: 100%;
  vertical-align: top;
}

hr {
  border: 1px solid hsl(0, 0%, 93%);
}

.small-hidden {
  display: none;
}

.ctn {
  width: 85%;
  max-width: 1440px;
}

@media screen and (min-width: 576px) {
  .hero .hero-content {
    align-items: center;
  }
  .press {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header nav ul {
    display: flex;
  }
  .header nav .burger-menu {
    display: none;
  }
  .hero .hero-content {
    align-items: center;
    flex-basis: 60%;
  }
  .hero img {
    position: static;
    width: 100%;
  }
  .upsell-background {
    left: -25%;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    align-items: center;
  }
  .hero img {
    top: 0px;
    right: 0px;
  }
  .press {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .upsell-background {
    left: -15%;
  }
  .footer {
    flex-direction: row;
  }
  .footer .footer-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: baseline;
  }
  .footer-bottom .small-hidden {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .press .small-hidden {
    display: block;
  }
  .upsell-background {
    position: static;
    width: 100%;
    min-height: 350px;
  }
}
@media screen and (min-width: 1400px) {
  .showcase-cards {
    justify-content: space-between;
  }
  .showcase-card {
    width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
