.btn-1 {
  margin: 2rem 0;
  display: inline-block;
  padding: 3px;
  border-radius: 53px;
  background: linear-gradient(
    65deg,
    hsl(349, 76%, 68%) 0%,
    hsl(24, 82%, 61%) 65%,
    hsl(24, 81%, 60%) 89%,
    hsl(67, 72%, 73%) 100%
  );
  cursor: pointer;

  &__text {
    padding: 0.85rem 2rem;
    background-color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    border-radius: 50px;
    transition: 263ms ease-in-out;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background-color: transparent;
    }
  }
}
