@use "../vars" as *;

.ctn {
  margin: auto;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;

  .hero-content {
    flex-basis: 60%;
    z-index: 100;
  }

  img {
    position: absolute;
    left: 50%;
    z-index: 0;
    height: 100%;
  }
}

.press {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: stretch;
  img {
    max-width: 100%;
  }
}

.upsell {
  position: relative;
  min-height: 360px;
}

.upsell-background {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.upsell-content {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}

.footer-upsell {
  display: flex;

  &__content {
    flex: 50%;
  }

  &__img {
    transform: translateX(25%);
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// cards
.showcase {
  min-height: 500px;
  position: relative;
}
.showcase-cards {
  display: flex;
  gap: 25px;
}
.showcase-card {
  min-width: 290px;
  &__info {
    background-color: $c-light-gray;
    color: $c-middle-gray;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
    &-symbol {
      position: relative;
      &::before {
        position: absolute;
        content: url("assets/eth.svg");
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-line {
      display: flex;
      justify-content: space-between;
    }
  }
  img {
    width: 100%;
    vertical-align: top;
  }
}

hr {
  border: 1px solid $c-light-gray;
}

.small-hidden {
  display: none;
}
