@use "../vars" as *;

.ctn {
  margin: auto;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  position: relative;

  .hero-content {
    max-width: 50%;
  }

  img {
    position: absolute;
    right: -140px;
    top: -40px;
    z-index: 0;
    height: 100%;
  }
}

.press {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: stretch;
  img {
    max-width: 100%;
  }
}

.footer-upsell {
  display: flex;
}

.upsell {
  position: relative;
  min-height: 350px;
}

.upsell-background {
  overflow-x: hidden;
  position: absolute;
  left: -50%;
}
.upsell-content {
  position: absolute;
  top: 50%;
  left: 5%;
}

.footer-upsell {
  display: flex;

  &__content {
    flex: 50%;
  }

  &__img {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// cards
.showcase {
  min-height: 500px;
  position: relative;
}
.showcase-cards {
  position: absolute;
  display: flex;
  gap: 25px;
}
.showcase-card {
  display: block;
  width: 290px;
  height: 400px;
  &__info {
    background-color: $c-light-gray;
    color: $c-middle-gray;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
    &-symbol {
      position: relative;
      &::before {
        position: absolute;
        content: url("assets/eth.svg");
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-line {
      display: flex;
      justify-content: space-between;
    }
  }
  img {
    width: 100%;
    vertical-align: top;
  }
}

hr {
  border: 1px solid $c-light-gray;
}
