@use "../vars" as *;

.ctn {
  margin: auto;
  width: 85%;
  max-width: 1440px;
}

.press {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: stretch;
  img {
    max-width: 100%;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>  HERO & UPSELL_f  >>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.hero,
.footer-upsell {
  display: flex;

  &__content {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    transform: translateX(25%);
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>  UPSELL_top  >>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.upsell {
  position: relative;
  min-height: 360px;

  &__background {
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
  }

  &__content {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>  SHOWCASE  >>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.showcase {
  min-height: 500px;
  position: relative;
  &__cards {
    display: flex;
    gap: 25px;
  }
  &__card {
    min-width: 290px;

    img {
      width: 100%;
      vertical-align: top;
    }

    &-info {
      background-color: $c-light-gray;
      color: $c-middle-gray;
      padding: 1rem;
      border-radius: 0 0 15px 15px;

      &__line {
        display: flex;
        justify-content: space-between;

        &--symbol {
          position: relative;
          &::before {
            position: absolute;
            content: url("assets/eth.svg");
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
hr {
  border: 1px solid $c-light-gray;
}

.small-hidden {
  display: none;
}
