@use "../vars" as *;

footer {
  color: $c-dark-gray;
  // padding: 5% 0;

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer-nav {
      display: grid;
      gap: 25px;
      grid-template-columns: repeat(2, 1fr);

      h4 {
        text-transform: uppercase;
      }
    }

    .footer-props {
      flex-basis: 45%;

      &__social-links {
        ul {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
