@use "../vars" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__props {
    &-social {
      ul {
        display: flex;
        gap: 0.75rem;
      }
    }
  }
}
