@use "../vars" as *;

header {
  color: $c-darker-gray;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    ul {
      display: none;
      gap: 25px;
    }

    .burger-menu {
      transform: rotateZ(90deg);
      span {
        border-radius: 5px;
        background-color: $c-gray;
        width: 55px;
        height: 100px;
        padding: 2px;
        margin: 2px;
      }
    }
  }
}
