@use "sass:map";
@use "../vars" as *;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>  MOBILE  >>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
@media screen and (min-width: map.get($screen-dimensions, "mobile")) {
  .press {
    justify-items: center;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>  TABLET  >>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
@media screen and (min-width: map.get($screen-dimensions, "tablet")) {
  .header {
    nav ul {
      display: flex;
    }
    nav .burger-menu {
      display: none;
    }
  }

  .upsell__content {
    top: 40%;
    transform: translateY(-10%);
  }

  .hero,
  .footer-upsell {
    &__img {
      transform: translateX(0%);
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>  LAPTOP  >>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
@media screen and (min-width: map.get($screen-dimensions, "laptop")) {
  .press {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer {
    flex-direction: row;

    &__nav {
      display: flex;
      justify-content: space-between;
      flex-basis: 50%;
    }

    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: baseline;

      .small-hidden {
        display: block;
      }
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>  DESKTOP >>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
@media screen and (min-width: map.get($screen-dimensions, "desktop")) {
  .press {
    .small-hidden {
      display: block;
    }
  }

  .upsell {
    &__content {
      left: 5%;
    }

    &__background,
    &__background > img {
      width: 100%;
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>  TV  >>>>>>>>>>>>>>>>>>
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
@media screen and (min-width: map.get($screen-dimensions, "tv")) {
  .upsell {
    min-height: 400px;
  }

  .showcase {
    &__cards {
      justify-content: space-between;
    }

    &__card {
      width: 350px;
    }
  }
}
