@use "../vars" as *;

.ctn {
  width: 85%;
  max-width: 1440px;
}

@media screen and (min-width: 576px) {
  section.press {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  header .header {
    nav ul {
      display: flex;
    }
    nav .burger-menu {
      display: none;
    }
  }

  .upsell-background {
    left: -25%;
  }

  .hero {
    display: flex;
    align-items: center;
    .hero-content {
      min-width: 45%;
    }

    img {
      position: static;
      // right: 0px;/
      top: 0px;
      z-index: 0;
      height: 40%;
    }
  }

  footer .footer {
    flex-direction: row;

    .footer-nav {
      display: flex;
      justify-content: space-between;
      flex-basis: 50%;
    }

    &-bottom {
      .small-hidden {
        display: block;
      }

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: baseline;
    }
  }
}
@media screen and (min-width: 992px) {
  .press {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .upsell-background {
    left: -15%;
  }
}
@media screen and (min-width: 1200px) {
  .press {
    .small-hidden {
      display: block;
    }
  }

  .upsell-background {
    position: static;
    width: 100%;
    min-height: 350px;
  }
}
@media screen and (min-width: 1300px) {
  .showcase-cards {
    position: static;
    justify-content: space-between;
  }
  .showcase-card {
    width: auto;
  }
}

.small-hidden {
  display: none;
}
