* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  //! Turn on for testing
  // border: 1px dashed hsla(39, 100%, 50%, 0.6);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
